.container {
  width: 800px;
  margin: 0 auto;
}

.container form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 16px;
}

.container form label {
  padding: 5px 8px 5px 0;
  margin-bottom: 8px;
}

.container form input {
  margin-bottom: 8px;
  border: none;
  border-bottom: 1px solid brown;
}

.container form button {
  width: 160px;
  height: 32px;
  background-color: tomato;
  border: none;
  color: #eee;
}
